<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ex.demo.sa.mapper.QuoteMapper">

    <select id="findAll" resultType="com.ex.demo.sa.domain.Quote">
        select * from quote
    </select>

    <select id="getLatestQuoteInfo" resultType="com.ex.demo.sa.domain.Quote">
        select * from quote where stockId=#{stockId} order by createTime limit 1
    </select>
</mapper>